<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Page of Home <%= 5 + 5 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, qui maiores laudantium distinctio reiciendis sunt eligendi perspiciatis, eveniet temporibus sed animi ex facere placeat sit libero ducimus quae iste optio!
    Sunt iusto rem doloremque, repellat molestiae suscipit sapiente tempora optio vel reprehenderit culpa facere, maxime quas? Voluptatibus commodi ullam aut aperiam, nesciunt porro excepturi provident eum vel et quibusdam inventore.
    Asperiores repellat distinctio ad quo, optio fugiat magni voluptatibus recusandae expedita consectetur sit minima voluptate autem laborum repellendus iste provident molestiae soluta. Quod praesentium qui, neque magni sequi molestiae adipisci!
    Rerum aspernatur inventore cupiditate reprehenderit libero iure enim explicabo ducimus assumenda autem beatae nihil fugit, tempora ipsum omnis? Totam deleniti repudiandae quam tempore quae quod, accusantium enim nobis laborum ratione?
    Consequuntur neque fuga delectus perspiciatis nulla nam, minus sapiente blanditiis excepturi debitis fugiat ipsa obcaecati consectetur velit laudantium dolores voluptatibus perferendis aut esse totam magnam suscipit, cum odio! Vel, maxime?</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, qui maiores laudantium distinctio reiciendis sunt eligendi perspiciatis, eveniet temporibus sed animi ex facere placeat sit libero ducimus quae iste optio!
    Sunt iusto rem doloremque, repellat molestiae suscipit sapiente tempora optio vel reprehenderit culpa facere, maxime quas? Voluptatibus commodi ullam aut aperiam, nesciunt porro excepturi provident eum vel et quibusdam inventore.
    Asperiores repellat distinctio ad quo, optio fugiat magni voluptatibus recusandae expedita consectetur sit minima voluptate autem laborum repellendus iste provident molestiae soluta. Quod praesentium qui, neque magni sequi molestiae adipisci!
    Rerum aspernatur inventore cupiditate reprehenderit libero iure enim explicabo ducimus assumenda autem beatae nihil fugit, tempora ipsum omnis? Totam deleniti repudiandae quam tempore quae quod, accusantium enim nobis laborum ratione?
    Consequuntur neque fuga delectus perspiciatis nulla nam, minus sapiente blanditiis excepturi debitis fugiat ipsa obcaecati consectetur velit laudantium dolores voluptatibus perferendis aut esse totam magnam suscipit, cum odio! Vel, maxime?</p>
</body>
</html>