<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <h1>Isss this your number... <%= rand %> ?</h1>
    <% if(rand % 2 === 0){ %>
    <h2>That's pretty even!</h2>
    <% }else if(rand === 69){ %>
    <h3>nice B)</h3>
    <% } else{ %>
    <h2>hmmmm... that's a bit odd</h2>
    <% } %>
    <h4><%= num%2===0 ? 'EVEN' : 'ODD' %></h4>
</body>
</html>